<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/main.css') }}">
			<link rel="stylesheet" href="{{ asset('css/friend.css') }}">
			<link rel="stylesheet" href="{{ asset('css/purchase.css') }}">
		{% endblock %}
	</head>
	<body>
		{% set route = app.request.attributes.get('_route') %}
		{% block navbar %}
			{% if app.user %}
				{{ render(controller('App\\Controller\\MenuController::mainMenu', {'route': route})) }}
			{% endif %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-t6I8D5dJmMXjCsRLhSzCltuhNZg6P10kE0m0nAncLUjH6GeYLhRU1zfLoW3QNQDF" crossorigin="anonymous"></script>

			{# Load required javascript #}
			{% set home_route = ['home'] %}
			{% set friend_route = ['friends'] %}
			{% set group_route = ['groups', 'user_group_view'] %}
			{% set listing_route = ['list_group_view'] %}
			{% set purchase_route = ['purchases'] %}
			{% set user_route = ['user_infos'] %}

			{% if route in home_route %}<script src="{{ asset('js/notice.js') }}"></script>{% endif %}
			{% if route in friend_route %}<script src="{{ asset('js/friend.js') }}"></script>{% endif %}
			{% if route in listing_route %}<script src="{{ asset('js/listing.js') }}"></script>{% endif %}
			{% if route in purchase_route %}<script src="{{ asset('js/purchase.js') }}"></script>{% endif %}
			{% if route in user_route %}{% endif %}
			{# Load required javascript #}

		{% endblock %}
	</body>
</html>
