{{ form_start(form) }}
    {{ form_errors(form) }}
    
    <ul id="listing-update-form"
        data-prototype="{{ form_widget(form.listingItems.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.listingItems|length }}">

        {% for itemField in form.listingItems %}
            <div class="listing-item">
                <div class=" input-group input-group-sm mb-3">
                    {{ form_widget(itemField.name) }}

                    <div class="bi listing-item-remove-buton btn btn-danger btn-xs" path="{{ path('listing_item_remove', {'id': itemField.vars.value.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer">
                        X
                    </div>
                </div>

                <div class=" input-group input-group-sm mb-3">
                    {{ form_widget(itemField.reference) }}
                </div>
                <hr>
            </div>
        {% endfor %}
        
    </ul>

        

{{ form_end(form) }}
<button type="button" class="listing-add-item btn btn-sm btn-info hidden" data-list-selector="ul#listing-update-form">Ajouter</button>
<button type="submit" id="listing-update-btn-submit" class="btn btn-sm btn-success hidden">Valider</button>
<button type="button" id="listing-update-btn-update" class="btn btn-sm btn-warning">Modifier</button>
<button type="button" id="listing-update-btn-cancel" class="btn btn-sm btn-danger hidden">Annuler</button>
<br><br>