{% block mainMenu %}
	{% set home_route = ['home'] %}
	{% set friends_route = ['friends'] %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">SharedLists</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('friends') }}">Amis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('groups') }}">Groupes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('user_infos') }}">Mon compte</a>
					</li>
				</ul>
				<a class="navbar-brand" href="#">{{ app.user.username }}</a>
				<a href="{{ path('app_logout') }}" class="btn btn-outline-danger d-flex">Déconnexion</a>
			</div>
		</div>
	</nav>
{% endblock %}
