{% set friendRequests = app.user.pendingReceivedFriendRequests %}

<div class="container">

{% if (friendRequests|length) > 0 %}
	{% for request in friendRequests %}
		<div class=".pending-received-friend-request row align-item-start" id="pending-received-friend-request-{{ loop.index }}">
			<div class="col">
				{{ request.sender.username }}
			</div>
			<div class="col">
				<i>{{ request.date|date('d-m-Y') }}</i>
			</div>
			<div class="col">
				<button type="button" class="btn btn-sm btn-success friend-request-accept" path="{{ path('friend_request_response', {'id': request.id, 'state': 'accept'}) }}" container="div#pending-received-friend-request-{{ loop.index }}">V</button>
				<button type="button" class="btn btn-sm btn-danger friend-request-refuse" path="{{ path('friend_request_response', {'id': request.id, 'state': 'refuse'}) }}" container="div#pending-received-friend-request-{{ loop.index }}">X</button>
			</div>
		</div>
	{% endfor %}
{% else %}
	Aucune invitation reçue.
{% endif %}
</div>